<nav>
  <div id="classify">
    <p>
      <a href="/">ホーム</a> > 診療科目 > 脳神経外科
    </p>
  </div>
</nav>

<aside>
  <%- include("../partials/aside") %>
</aside>

<main id="new-patient">

  <h2 style="margin-top: 0px;">内科</h2>

  <ul class="row-list">
    <li>
      <a href="/department">診療科目</a>
    </li>
    <li>
      <a href="/internal">内科</a>
    </li>
    <li class="current">
      <a href="/neuros">脳神経外科</a>
    </li>
  </ul>

  <div class="cl-both"></div>

    <h3 style="margin-bottom: 20px;">脳神経外科について</h3>
    
    <img src="img/sample1.jpg" style="width: 35%;" alt="" class="fl-right mg-left-20">

    <p>
      ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。
    </p>
    <p>
      ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。
    </p>
    
    <div class="cl-both">
      <img src="img/sample1.jpg" style="width: 35%;" alt="" class="pre-blank fl-left mg-right-20">
    </div>
    
    <p>
      ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。
    </p>
    <p>
      ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。ここに説明など入れて下さい。サンプルテキスト。
    </p>
    
    <h2>医師出勤表</h2>
    
    <div class="tab-index">脳神経外科</div>
    <table class="main">
      <tr>
        <th>&nbsp;</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
      </tr>
      <tr>
        <th>午前</th>
        <td><a href="staff.html#okinawa">沖縄次郎</a><br>
          <a href="staff.html#tokyo">東京花子</a><br>
          <a href="staff.html#nihon">日本太郎</a></td>
        <td><a href="staff.html#tokyo">東京花子</a></td>
        <td><a href="staff.html#nihon">日本太郎</a></td>
        <td><a href="staff.html#tokyo">東京花子</a></td>
        <td><a href="staff.html#okinawa">沖縄次郎</a><br>
          <a href="staff.html#nihon">日本太郎</a></td>
        <td>※</td>
      </tr>
      <tr>
        <th>午後</th>
        <td><a href="staff.html#tokyo">東京花子</a><br>
          <a href="staff.html#okinawa">沖縄次郎</a></td>
        <td><a href="staff.html#tokyo">東京花子</a></td>
        <td><a href="staff.html#nihon">日本太郎</a><br>
          <a href="staff.html#tokyo">東京花子</a></td>
        <td><a href="staff.html#okinawa">沖縄次郎</a></td>
        <td><a href="staff.html#tokyo">東京花子</a></td>
        <td>※</td>
      </tr>
    </table>

</main>
