<nav>
  <div id="classify">
    <p>
      <a href="/">ホーム</a> > アクセス
    </p>
  </div>
</nav>

<aside>
  <%- include("../partials/aside") %>
</aside>

<main>

<h2>アクセス</h2>

<table class="access-table">
  <caption class="tab-index">アクセス</caption>
  <tr>
    <th>所在地</th>
    <td>東京都XX区XXXX</td>
  </tr>
  <tr>
    <th>地図</th>
    <td>
      <a href="http://template-party.com/file/pickup_googlemap.html">
        Google Mapを使いたい人はこちらの解説をご覧下さい。
      </a>
      <div class="access-img">
        <img src="/img/dummy_map_main.jpg" alt="" />
      </div>
    </td>
  </tr>
  <tr>
    <th>見出し</th>
    <td>ここに説明を入れます。</td>
  </tr>
  <tr>
    <th>見出し</th>
    <td>ここに説明を入れます。</td>
  </tr>
  <tr>
    <th>見出し</th>
    <td>ここに説明を入れます。</td>
  </tr>
</table>

</main>