<div id="footer-info">
  <div class="half">
    <h2>アクセス</h2>
    <img src="images/dummy_map_main.jpg" alt="">
    <p>
      <a href="https://template-party.com/file/pickup_googlemap.html" target="_blank">
        GoogleMapで地図を貼り付けたい
      </a>
      人は解説がありますのでご覧下さい。
    </p>
  </div>

  <div class="half">
    <h2>受付</h2>
    <table>
      <tr>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
        <th>日</th>
      </tr>
      <tr>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>△</td>
        <td>ー</td>
      </tr>
    </table>
    <p class="notice"">8/10は診療をお休みさせて頂きます。</p>
    <p>午前診療受付　8:30〜12:30<br>
      午後診療受付　2:30〜6:30<br>
      △　午前受付のみ<br>
      ー　お休み</p>
    <div id="address"><span class="tel">03-0000-0000</span><br>
      受付時間：AM9:00〜PM7:00</div>
  </div>
</div>

<div id="footermenu">
  <ul>
    <li class="title">メニュータイトル</li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
  </ul>
  <ul>
    <li class="title">メニュータイトル</li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
  </ul>
  <ul>
    <li class="title">メニュータイトル</li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
  </ul>
  <ul>
    <li class="title">メニュータイトル</li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプルメニューサンプルメニューサンプルメニューサンプル</a></li>
  </ul>
</div>

<div id="footer-copyright">
  <p>
    <a href="/"><img src="images/logo_footer.png" alt="東京横浜サンプル医院" width="500"></a>
  <br> Copyright&copy; <a href="/">東京横浜サンプル医院</a> All Rights Reserved.
  </p>
</d>