<nav id="top-image" class="slide-top">
  <img src="img/1.jpg" />
  <div class="slide-1st"><img src="img/1.jpg" /></div>
  <div class="slide-2nd"><img src="img/2.jpg" /></div>
  <div class="slide-3rd"><img src="img/3.jpg" /></div>
</nav>

<aside>
  <%- include("partials/aside") %>
</aside>

<main>
<h2 style="margin-top: 0px;">診療科目</h2>

<div class="cards">
  <div class="card-contents">
    <div class="tab-index">内科</div>
    <a href="medical1.html">
      <img src="img/sample1.jpg" alt="">
      <p>ここに短めに説明を入れて下さい。詰め込みすぎると途中で切れてみえる場合があります。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</p>
    </a>
  </div>
  <div class="card-contents">
    <div class="tab-index">脳神経外科</div>
    <a href="medical1.html">
      <img src="img/sample2.jpg" alt="">
      <p>リンクが設定されていると、右下に矢印アイコンが出ます。</p>
    </a>
  </div>
  <div class="card-contents">
    <div class="tab-index">診療科目</div>
    <a href="">
      <img src="img/sample1.jpg" alt="">
      <p>リンクなしだとこんな感じ。</p>
    </a>
  </div>
</div>

<p class="align-center pre-blank">アップロードする写真の縦横比率は必ず揃えて下さい。</p>

<!-- <div class="cl-both"></div> -->

<h2>医師出勤表</h2>

<div class="tab-index">内科</div>
<table class="main">
  <tr>
    <th>&nbsp;</th>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
  </tr>
  <tr>
    <th>午前</th>
    <td><a href="staff.html#okinawa">沖縄次郎</a><br>
      <a href="staff.html#tokyo">東京花子</a><br>
      <a href="staff.html#nihon">日本太郎</a></td>
    <td><a href="staff.html#tokyo">東京花子</a></td>
    <td><a href="staff.html#nihon">日本太郎</a></td>
    <td><a href="staff.html#tokyo">東京花子</a></td>
    <td><a href="staff.html#okinawa">沖縄次郎</a><br>
      <a href="staff.html#nihon">日本太郎</a></td>
    <td>※</td>
  </tr>
  <tr>
    <th>午後</th>
    <td><a href="staff.html#tokyo">東京花子</a><br>
      <a href="staff.html#okinawa">沖縄次郎</a></td>
    <td><a href="staff.html#tokyo">東京花子</a></td>
    <td><a href="staff.html#nihon">日本太郎</a><br>
      <a href="staff.html#tokyo">東京花子</a></td>
    <td><a href="staff.html#okinawa">沖縄次郎</a></td>
    <td><a href="staff.html#tokyo">東京花子</a></td>
    <td>※</td>
  </tr>
</table>

<div class="tab-index pre-blank">脳神経外科</div>
<table class="main">
  <tr>
    <th>&nbsp;</th>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
  </tr>
  <tr>
    <th>午前</th>
    <td><a href="staff.html#okinawa">沖縄次郎</a><br>
      <a href="staff.html#tokyo">東京花子</a><br>
      <a href="staff.html#nihon">日本太郎</a></td>
    <td><a href="staff.html#tokyo">東京花子</a></td>
    <td><a href="staff.html#nihon">日本太郎</a></td>
    <td><a href="staff.html#tokyo">東京花子</a></td>
    <td><a href="staff.html#okinawa">沖縄次郎</a><br>
      <a href="staff.html#nihon">日本太郎</a></td>
    <td>※</td>
  </tr>
  <tr>
    <th>午後</th>
    <td><a href="staff.html#tokyo">東京花子</a><br>
      <a href="staff.html#okinawa">沖縄次郎</a></td>
    <td><a href="staff.html#tokyo">東京花子</a></td>
    <td><a href="staff.html#nihon">日本太郎</a><br>
      <a href="staff.html#tokyo">東京花子</a></td>
    <td><a href="staff.html#okinawa">沖縄次郎</a></td>
    <td><a href="staff.html#tokyo">東京花子</a></td>
    <td>※</td>
  </tr>
</table>

<figcaption style="margin-top: 5px;">※土曜日は担当医は決まっておりません。</figcaption>

<h2>更新情報・お知らせ</h2>

<div class="index-dl">
  <dl>
    <dt>2019/08/01</dt>
    <dd>tp_clinic4配布開始。<span class="newicon">NEW</span></dd>
    <dt>20XX/00/00</dt>
    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
    <dt>20XX/00/00</dt>
    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
    <dt>20XX/00/00</dt>
    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
    <dt>20XX/00/00</dt>
    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
    <dt>20XX/00/00</dt>
    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
    <dt>20XX/00/00</dt>
    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
  </dl>
  <p class="align-right">&raquo;&nbsp;<a href="#">過去ログ</a></p>
</div>


  <h2>テンプレートのご利用前に必ずお読み下さい</h2>

  <h3>利用規約のご案内</h3>

  <p>このテンプレートは、<a href="http://template-party.com/">Template Party</a>にて無料配布している『病院・歯科医院・整体・整骨院サイト向け無料ホームページテンプレート tp_clinic4』です。必ずダウンロード先のサイトの<a href="http://template-party.com/read.html">利用規約</a>をご一読の上でご利用下さい。</p>

  <p class="theme-color font-w-bold">■HP最下部の著作表示『Web Design:Template-Party』は無断で削除しないで下さい。</p>
  <p>
    わざと見えなく加工する事も禁止です。
  </p>

  <p class="theme-color font-w-bold">■下部の著作を外したい場合は</p>
  <p>
    <a href="http://template-party.com/">Template-Party</a>の<a href="http://template-party.com/member.html">ライセンス契約</a>を行う事でHP下部の著作を外す事ができます。
  </p>

  <h3>テンプレートに梱包されているjsファイル(javascript)について</h3>
  <p>
    これらのファイルは全て<a href="http://www.crytus.co.jp/">有限会社クリタス様</a>提供のプログラムです。jsファイルは改変せずにご利用下さい。<br>
    また、当サイトのテンプレート以外に使いたいなど、「プログラムのみ」を使う場合は<a
      href="http://template-party.com/free_program/openclose_license.html">こちらの規約</a>をお守り下さい。
  </p>

  <h3>「人物写真」と「施設の室内写真」はダウンロードファイルには梱包されていません</h3>

  <p>
    配布元である「PIXTA」さんの一般利用規約範囲内で利用している為、ダウンロードファイルには梱包されておりません。PSD特典にも含まれませんので同じ写真が必要な際はPIXTAさんで直接お買い求め下さい。<br>ダウンロードファイルには代替画像が入っています。
  </p>

  <h3>当テンプレートにはお問い合わせフォーム（自動フォーム：試用版）がセットされています</h3>

  <p><a href="contact.html">contact.html</a>と同じ３項目のお問い合わせフォームを簡単に使えるようにセットしています。</p>

  <p class="theme-color font-w-bold">■自動フォームを使う場合（※編集に入る前にご確認下さい）</p>
  <p>
    あなたのメールアドレス設定と、簡単な編集だけで使えます。<a href="http://template-party.com/file/formgen_manual_set2.html" target="_blank">詳しくはこちらのマニュアルをご覧下さい。</a>
  </p>
  <p class="theme-color font-w-bold">■自動フォームを使わない場合</p>
  <p>
    テンプレートに梱包されている「form.html」「confirm.html」「finish.html」の3枚のファイルを削除して下さい。
  </p>

  <h3>当テンプレートの詳しい使い方は</h3>
  <p><a href="info.html#about">こちらをご覧下さい。</a></p>
</main>