<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>練習用サイト2005</title>
    <meta name="description" content="サイト説明">
    <meta name="keywords" content="キーワード1,キーワード2...">
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!-- JavaScript -->
    <script src="/js/behaivor.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&?family=Pacifico&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="container">
      <header>
        <%- include("partials/header") %>
      </header>
      <nav id="floating">
        <%- include("partials/nav-float") %>
      </nav>
      <div id="contents">
        <%- body %>
      </div>
    </div>
    <div class="cl-both"></div>
    <footer>
      <%- include("partials/footer") %>
    </footer>
  </body>

</html>