<a href="/" class="logo">
  <strong>Editorial</strong> by HTML5 UP
</a>

<div class="icon">
  <a href="#" class="fab fa-twitter"></a>
  <a href="#" class="fab fa-facebook-f"></a>
  <a href="#" class="fab fa-google"></a>
  <a href="#" class="fab fa-instagram-square"></a>
  <a href="#" class="fab fa-slack"></a>
</div>