<div class="inner">
  <section id="search" class="alt"></section>
  <nav id="menu"></nav>
  <section>
    <header class="major"></header>
    <div class="mini-posts"></div>
    <ul class="acction"></ul>
  </section>
  <section>
    <header class="major"></header>
    <p></p>
    <ul class="contact"></ul>
  </section>
  <footer id="footer"></footer>
</div>