<nav>
  <div id="classify">
    <p>
      <a href="/">ホーム</a> > 診療科目
    </p>
  </div>
</nav>

<aside>
  <%- include("partials/aside") %>
</aside>

<main>
  <h2 style="margin-top: 0px;">診療科目</h2>
  <p>プルダウンメニューが使えない環境（タブレットやスマートフォン）の為に、各プルダウンへのリンク先メニュー（↓）のある当ページを必ず作って下さい。</p>
  <ul class="pre-blank">
    <li class="pre-maru"><a href="#">内科</a></li>
    <li class="pre-maru"><a href="#">脳神経外科</a></li>
    <li class="pre-maru"><a href="#">診療科目</a></li>
    <li class="pre-maru"><a href="#">診療科目</a></li>
    <li class="pre-maru"><a href="#">診療科目</a></li>
  </ul>
</main>