<nav>
  <div id="classify">
    <p>
      <a href="/">ホーム</a> > よく頂く質問
    </p>
  </div>
</nav>

<aside>
  <%- include("partials/aside") %>
</aside>

<main>

<h2>よく頂く質問</h2>

<dl class="faq">
  <dt>ここに質問を書きます。ここに質問を書きます。ここに質問を書きます。</dt>
  <dd>
    ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。
  </dd>

  <dt>ここに質問を書きます。ここに質問を書きます。ここに質問を書きます。</dt>
  <dd>
    ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。
  </dd>

  <dt>ここに質問を書きます。ここに質問を書きます。ここに質問を書きます。</dt>
  <dd>
    ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。
  </dd>

  <dt>ここに質問を書きます。ここに質問を書きます。ここに質問を書きます。</dt>
  <dd>
    ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。
  </dd>

  <dt>ここに質問を書きます。ここに質問を書きます。ここに質問を書きます。</dt>
  <dd>
    ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。
  </dd>

  <dt>ここに質問を書きます。ここに質問を書きます。ここに質問を書きます。</dt>
  <dd>
    ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。ここに回答を書きます。
  </dd>

</dl>

</div>

</main>