<nav id="menubar">
  <ul>
    <li class="current">
      <a href="index.html">ホーム
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="info.html">当院について
        <span>Information</span>
      </a>
    </li>
    <li>
      <a href="medical.html">診療科目
        <span>Medical</span>
      </a>
    </li>
    <li>
      <a href="staff.html">スタッフ紹介
        <span>Staff</span>
      </a>
    </li>
    <li>
      <a href="faq.html">よく頂く質問
        <span>Faq</span>
      </a>
    </li>
    <li>
      <a href="access.html">アクセス
        <span>Access</span>
      </a>
    </li>
  </ul>
</nav>
