<!-- menubar -->
<nav id="menubar">
  <ul>
    <li class="current">
      <a href="index.html">ホーム
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="info.html">当院について
        <span>Information</span>
      </a>
    </li>
    <li>
      <a href="medical.html">診療科目
        <span>Medical</span>
      </a>
    </li>
    <li>
      <a href="staff.html">スタッフ紹介
        <span>Staff</span>
      </a>
    </li>
    <li>
      <a href="faq.html">よく頂く質問
        <span>Faq</span>
      </a>
    </li>
    <li>
      <a href="access.html">アクセス
        <span>Access</span>
      </a>
    </li>
  </ul>
</nav>

<!-- sub -->
<div id="sub">

  <nav class="box1">
    <h2>メニュー</h2>
    <ul class="submenu">
      <li><a href="booklet.html">サンプル医院広報誌</a></li>
      <li><a href="recruit.html">採用情報</a></li>
      <li><a href="worklist.html">医師出勤表</a></li>
      <li><a href="contact.html">お問い合わせ</a></li>
    </ul>
  </nav>

  <nav>
    <ul class="submenu">
      <li><a href="booklet.html">サンプル医院広報誌</a></li>
      <li><a href="recruit.html">採用情報</a></li>
      <li><a href="worklist.html">医師出勤表</a></li>
      <li><a href="contact.html">お問い合わせ</a></li>
      <li><a href="#">メニューサンプル</a></li>
      <li><a href="#">メニューサンプル</a></li>
      <li><a href="#">メニューサンプル</a></li>
      <li><a href="#">メニューサンプル</a></li>
    </ul>
  </nav>

  <section>
    <h2>受付</h2>
    <table class="ta2">
      <tr>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
        <th>日</th>
      </tr>
      <tr>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>○</td>
        <td>△</td>
        <td>ー</td>
      </tr>
    </table>
    <p class="check mini1">※8/10は診療をお休みさせて頂きます。</p>
    <p class="mini1">午前診療受付　8:30〜12:30<br>
      午後診療受付　2:30〜6:30<br>
      △　午前受付のみ<br>
      ー　お休み</p>
  </section>

</div>
<!--/#sub-->
