<nav id="top-image" class="slide-top">
  <img src="images/1.jpg" />
  <div class="slide-1st"><img src="images/1.jpg" /></div>
  <div class="slide-2nd"><img src="images/2.jpg" /></div>
  <div class="slide-3rd"><img src="images/3.jpg" /></div>
</nav>

<aside>
  <%- include("partials/aside") %>
</aside>

<main>
  <h1>index</h1>
</main>