<!-- <nav id="top-image">
  <img src="images/1.jpg" class="slide0" />
  
  <div id="slide-1st" class="area">
    <img src="images/1.jpg" class="slide1" />
  </div>
  
  <div id="slide-2nd" class="area">
    <img src="images/2.jpg" class="slide2" />
  </div>
  
  <div id="slide-3rd" class="area">
    <img src="images/3.jpg" class="slide3" />
  </div>
</nav> -->

<!-- <nav id="top-image">
  <p>image</p>  
  <img src="" alt="photo">
</nav> -->

<nav id="top-image">
    <img src="images/1.jpg" class="slide1" />
</nav>

<aside>
  <%- include("partials/aside") %>
</aside>
<main>
  <h1>index</h1>
</main>