<div class="nav-fix-pos">
  <nav id="menubar">
    <ul>
      <li class="current">
        <a href="index.html">ホーム
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="info.html">当院について
          <span>Information</span>
        </a>
        <ul class="dwmenu">
          <li><a href="info.html">当院について</a></li>
          <li><a href="info1.html">初診の方へ</a></li>
          <li><a href="info2.html">院長挨拶</a></li>
        </ul>
      </li>
      <li>
        <a href="medical.html">診療科目
          <span>Medical</span>
        </a>
        <ul class="dwmenu">
          <li><a href="medical1.html">内科</a></li>
          <li><a href="medical2.html">脳神経外科</a></li>
          <li><a href="#">診療科目</a></li>
          <li><a href="#">診療科目</a></li>
          <li><a href="#">診療科目</a></li>
        </ul>
      </li>
      <li><a href="staff.html">スタッフ紹介<span>Staff</span></a></li>
      <li><a href="faq.html">よく頂く質問<span>Faq</span></a></li>
      <li><a href="access.html">アクセス<span>Access</span></a></li>
    </ul>
  </nav>
</div>