
  <div id="a" class="area">
    <p class="a">A</p>
    
    <div id="b" class="area">
      <p class="b">B</p>
    </div>
    
    <div id="c" class="area">
      <p class="c">C</p>
    </div>
  </div>
