@import "../styles/global.scss";

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem;
  padding: 3rem 0 0;
  border-bottom: solid 5px $main-color;
}

.logo {
  font-family: 'Roboto Slab', serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: rgba($key-color-gray, .7);
  strong {
    font-weight: 800;
    color: $key-color-gray;
  }
}

a:hover{
  text-decoration: none;
}

.anchor {
  margin-left: 1rem;
  color: rgba($key-color-gray, .7);
}