@import "../styles/global.scss";

// レスポンシブル対応
// パソコン：1001px以上 => min-width: 1001px
// ダブレット：671px以上 => max-width: 1000px / min-width: 671px
// スマートフォン：670px以下 => max-width: 670px

@media screen and (min-width: 1001px) {
  .container {
    padding: 0 4em 0.1em 4em;
  }
}

@media screen and (min-width: 671px) and (max-width: 1000px) {
  .container {
    padding: 0 2em 0.1em 2em;
  }
}

@media screen and (max-width: 670px) {
  .container {
    padding: 0 0.5em;
  }
}