$background-color: white;
$font-color: rgba(80, 80, 80, 1);

.container {
  background-color: $background-color;
}

.headerContents {
  color: red;
}

.mainContents {
  color: red;
  background-color: red;
}

.hello {
  font-size: 5rem;
  font-weight: 900;
  color: beige;
}