h1, h2, h3, h4, h5, h6, p {
  font-family: 'Noto Sans JP', sans-serif;
}
/* font-family: 'Noto Serif JP', serif;
font-family: 'M PLUS 1p', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Pacifico', cursive; */


/* /////////////////////////////////////////////////////////*/
