
/* /////////////////////////////////////////////////////////*/
/* basic typograph */
h1, h2, h3, h4, h5, h6, div, p, li, a {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
}

ul {
  list-style-type: none;
}

/* /////////////////////////////////////////////////////////*/
#container, footer {
  margin: 0 auto;
  max-width: 1400px;
}

/* header */
header {
  position: relative;
	height: 170px;	/*ヘッダーの高さ*/
  /*背景画像の読み込み。左から70%、上下中央に配置。幅700px。*/
  background: url(/images/header_bg.jpg) no-repeat 80% center / 800px;
}

header #logo img {
  position: absolute;
	left: 3%;
	bottom: 65px;
  width: 400px;
}

header address {
  position: absolute;
  right: 2%;
  bottom: 20px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.4;
  text-shadow: 1px 1px 3px #fff, -1px -1px 3px #fff;
}

header address .tel {
  font-size: 2rem;
  padding-left: 45px;
  color: #ff9999;
  background: url(../images/icon_tel.png) no-repeat left center / 40px;
}

/* nav id="floating" */
/* 大枠 */
nav #floating li {
  float: left;
  width: 16.66%; /* 均等に100%を6当分すると16.666...% */
  line-height: 1.1rem;
}
/* セル全体 */
nav #floating li a {
  text-decoration: none;
  display: block;
  height: 50px;
  padding-top: 10px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border-left: 1px dashed rgba(255,255,255,0.4);
  background: #ff9999;
}
/* 両端のセル */
nav #floating li:first-child a {
  border-left: none;
  border-radius: 0.7em 0em 0em 0.7em;
}
nav #floating li:last-child a {
  border-radius: 0em 0.7em 0.7em 0em;
}
/* 各セル2行の英語 */
nav #floating li span {
  display: block;
  font-size: 10px;
  letter-spacing: 0.2rem;
  opacity: 0.5;
}

/* indexページのトップ画像 */
/*１枚目*/
/* @keyframes slide1 {
	0% {opacity: 0;}
	10% {opacity: 1;}
	30% {opacity: 1;}
	40% {opacity: 0;}
	100% {opacity: 0;}
} */
/*２枚目*/
/* @keyframes slide2 {
	0% {opacity: 0;}
	20% {opacity: 0;}
	30% {opacity: 1;}
	60% {opacity: 1;}
	70% {opacity: 0;}
	100% {opacity: 0;}
} */
/*３枚目*/
/* @keyframes slide3 {
	0% {opacity: 0;}
	50% {opacity: 0;}
	60% {opacity: 1;}
	85% {opacity: 1;}
	95% {opacity: 0;}
	100% {opacity: 0;}
} */

/* 大枠 */
#contents {
  clear: both;
  margin-top: 90px;
}

#top-image src {
    width: 1400px;
    height: auto;

}

/* 
#contents nav #top-image {
  width: auto;
  height: 60px;
  border: 100px solid rgba(85, 107, 165, 0.5);
} */



/* nav #top-image {
  clear: both;
  width: 1400px;
  height: auto;
  background-color: khaki;
  border: 1px solid blue;
  border-radius: 100px;
  width: auto;
} */


/* 
aside #mainimg {
  margin-top: 100px;
}
.area {
  clear: both;
  }

.area img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#slide-top {
  position: relative;
}

#slide-1st {
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: slide1;
}

#slide-2nd {
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: slide2;
}

#slide-3rd {
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: slide3;
}

#slide-1st, #slide-2nd, #slide-3rd {
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-delay: 2s;
} */








/* 各ページのnavigation bar */
#classify {
  clear: both;
}

main {
  float: left;
  width: auto;
  border: 1px solid rgba(85, 107, 165, 0.5);
}

aside {
  float: left;
  width: 350px;
  height: 400px;
  border: 1px solid rgba(85, 107, 165, 0.5);
}

footer {
  clear: both;
  width: auto;
  height: 60px;
  border: 1px solid rgba(85, 107, 165, 0.5);
}