<div class="aside-menu">
  <h2>メニュー</h2>
  <ul class="aside-link">
    <li><a href="#">サンプル医院広報誌</a></li>
    <li><a href="#">採用情報</a></li>
    <li><a href="#">医師出勤表</a></li>
    <li><a href="#">お問い合わせ</a></li>
  </ul>
</div>

<div class="aside-link">
  <ul>
    <li><a href="#">サンプル医院広報誌</a></li>
    <li><a href="#">採用情報</a></li>
    <li><a href="#">医師出勤表</a></li>
    <li><a href="#">お問い合わせ</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
    <li><a href="#">メニューサンプル</a></li>
  </ul>
</div>

<div class="aside-info">
  <h2>受付</h2>
  <table>
    <tr>
      <th>月</th>
      <th>火</th>
      <th>水</th>
      <th>木</th>
      <th>金</th>
      <th>土</th>
      <th>日</th>
    </tr>
    <tr>
      <td>○</td>
      <td>○</td>
      <td>○</td>
      <td>○</td>
      <td>○</td>
      <td>△</td>
      <td>ー</td>
    </tr>
  </table>
  <p class="notice"">8/10は診療をお休みさせて<br />頂きます。</p>
  <p>午前診療受付　8:30〜12:30<br>
    午後診療受付　2:30〜6:30<br>
    △　午前受付のみ<br>
    ー　お休み</p>
</div>
