<nav id="floating">
  <ul>
    <li class="current">
      <a href="/">ホーム
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/about">当院について
        <span>Information</span>
      </a>
    </li>
    <li>
      <a href="/department">診療科目
        <span>Medical</span>
      </a>
    </li>
    <li>
      <a href="/staff">スタッフ紹介
        <span>Staff</span>
      </a>
    </li>
    <li>
      <a href="/fqa">よく頂く質問
        <span>Faq</span>
      </a>
    </li>
    <li>
      <a href="/access-reserve">アクセス
        <span>Access</span>
      </a>
    </li>
  </ul>
</nav>