<div id="inner">
  <section id="banner"></section>
  <section>
    <header class="major"></header>
    <div class="fuatures"></div>
  </section>
  <section>
    <header class="posts"></header>
  </section>
</div>