<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn HTML5+CSS3</title>
  <meta name="description" content="サイト説明">
  <meta name="keywords" content="キーワード1,キーワード2...">
  <!-- CSS only -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/custom.css">
  <!-- JavaScript -->
  <script src="/js/behaivor.js"></script>

</head>

<body class="is-preload">
  <div id="wrapper">
    <header id="header">
      <%- include("partials/header") %>
    </header>
    <div id="main">
      <%- body %>
    </div>
    <div id="sidebar">
      <%- include("partials/sidebar") %>
    </div>
  </div>
</body>

</html>