<nav>
  <div id="classify">
    <p>
      <a href="/">ホーム</a> > 当院について > 院長挨拶
    </p>
  </div>
</nav>

<aside>
  <%- include("../partials/aside") %>
</aside>

<main id="greeting">

  <h2 style="margin-top: 0px;">院長挨拶</h2>

  <ul class="row-list">
    <li>
      <a href="about">当院について</a>
    </li>
    <li>
      <a href="new-patient">初診の方へ</a>
    </li>
    <li class="current">
      <a href="greeting">院長挨拶</a>
    </li>
  </ul>
  
  <div class="cl-both"></div>

  <h3>院長挨拶</h3>
  <img src="/img/00000933.png" alt="" class="fl-right" style="width: 40%; padding-left: 10px;">
  <p>
    院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。
  </p>
  <p>
    院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。
  </p>
  <p>
    院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。院長の挨拶や経歴などをここに入れます。サンプルテキスト。
  </p>
  
  <table style="margin-top: 40px;">
    <caption class="tab-index">見出しが必要な場合はここを使います</caption>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
  </table>
  
  <table>
    <caption class="tab-index" style="margin-top: 20px;">見出しが必要な場合はここを使います</caption>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>ここに説明など入れて下さい。サンプルテキスト。</td>
    </tr>
  </table>

</main>