<nav>
  <div id="classify">
    <p>
      <a href="/">ホーム</a> > 当院について
    </p>
  </div>
</nav>

<aside>
  <%- include("../partials/aside") %>
</aside>


<main id="new-patient">

  <h2 style="margin-top: 0px;">初診の方へ</h2>

  <ul class="row-list">
    <li>
      <a href="about">当院について</a>
    </li>
    <li class="current">
      <a href="new-patient">初診の方へ</a>
    </li>
    <li>
      <a href="greeting">院長挨拶</a>
    </li>
  </ul>
  
  <div class="cl-both"></div>
  
  <h3>初診の方へ</h3>
  
  <div class="box">
    <img src="/img/sample1.jpg" alt="" class="fl-left" style="width: 40%; padding-right: 10px;">
    <h4>ここに見出しを入れます。</h4>
    <p>
      ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。
    </p>
  </div>
  <div class="arrow-blow"><img src="/img/arrow3.png" alt="" /></div>
  
  <div class="box">
    <img src="/img/sample1.jpg" alt="" class="fl-right" style="width: 40%; padding-left: 10px;">
    <h4>ここに見出しを入れます。</h4>
    <p>
      ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。
    </p>
  </div>
  <div class="arrow-blow"><img src="/img/arrow3.png" alt="" /></div>
  
  <div class="box">
    <h4>ここに見出しを入れます。</h4>
    <p>
      ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。
    </p>
  </div>
  <div class="arrow-blow"><img src="/img/arrow3.png" alt="" /></div>
  
  <div class="box">
    <h4>ここに見出しを入れます。</h4>
    <p>
      ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。ここに本文を入れます。サンプルテキスト。
    </p>
  </div>


</main>