//// Fonts
// M PLUS
// font-family: "M PLUS 1p", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900");

// Roboto Slab
// font-family: 'Roboto Slab', serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


// // for Font Aewsome
// @import "./fontawesome/fontawesome";
// @import "./fontawesome/brands";
// @import "./fontawesome/regular";
// @import "./fontawesome/solid";

$main-color: rgba(245, 106, 106, 1);
$key-color-gray: rgba(80, 80, 80, 1);

// Font
// 本文
body, input, select, textarea {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 5mm;
  font-weight: 400;
  line-height: 1.7; 
  color: rgba($key-color-gray, .8);
}

// 見出し
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  margin: 1rem 0;
  line-height: 1.3;
  font-weight: 500;
  color: $key-color-gray;
}

h1 {
  margin: 0 0 0.25em 0;
  font-size: 3.25rem;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: -0.025rem;
}

h2 { 
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 6  00;
  letter-spacing: -0.025rem;
}

h4 {
  font-size: 1.1rem;
}

h5 { font-size: 0.9rem; }

h6 { font-size: 0.7rem; }

strong, b {
  font-weight: 500;
  color: $key-color-gray;
}

em, i {
font-style: italic;
}

sup {
	font-size: 70%; //お好きなサイズに
	vertical-align: top;
	position: relative;
	top: -0.025em; //お好きな位置に
}

sub {
	font-size: 70%; //お好きなサイズに
	vertical-align: bottom;
	position: relative;
	bottom: -0.025em; //お好きな位置に
}


// リンク
a {
	color: rgba(15, 140, 235, 1);
}

// 区切り線
hr {
  margin: 3rem 0;
  border: solid 1px rgba($key-color-gray, .3);
}